<div class="login-container">
  <h2>Prijava</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Korisničko ime ili Email</label>
      <input type="text" formControlName="userKey" />

      @if (loginForm.get('userKey')?.invalid && loginForm.get('userKey')?.touched) {
        <small>Polje je obavezno</small>
      }
    </div>

    <div class="form-group">
      <label>Lozinka</label>
      <input type="password" formControlName="password" />

      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <small>Lozinka mora imati bar 3 karaktera</small>
      }
    </div>

    <button type="submit" [disabled]="loading">Prijavi se</button>
  </form>

  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }

   <p class="switch-link">
    Nemaš nalog? <a routerLink="/auth/register">Registruj se</a>
  </p>
</div>
