.dialog-actions-gap {
    gap: 0.5rem; // razmak između dugmadi
}

.mat-flat-button {
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-flat-button:hover {
    background-color: #1976d2cc;
}

.mat-stroked-button {
    border-width: 1.5px;
}

.mat-stroked-button:hover {
    background-color: #f5f5f5;
}
